<launch>
  <arg name="model" default="fet"/>
  <arg name="multi_robot_name" default=""/>

  <include file="$(find fet_bringup)/launch/fet_remote.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="multi_robot_name" value="$(arg multi_robot_name)"/>
  </include>

  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
    <param name="use_gui" value="true"/>
    <param name="rate" value="50"/>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find fet_description)/rviz/$(arg model).rviz"/>
</launch>
